<div class="flex h-30 w-full items-center justify-between bg-red-950 shadow-md">
    <div class="ml-10 flex content-between items-center justify-center space-x-3">
      <div class="group flex">
        <div class="rounded-xl p-3 group-hover:bg-rose-50">
          <p class="text-2xl text-white group-hover:text-black">SmartSockets</p>
        </div>
      </div>
      <div class="group flex">
        <div class="flex items-center justify-center rounded-xl p-4 group-hover:bg-rose-50">
          <p class="text-white group-hover:text-black">Мои устройства</p>
        </div>
      </div>
    </div>
    <div class="mr-10 flex content-between items-center justify-center space-x-3">
        <div class="group flex">
            <div class="flex items-center justify-center rounded-xl p-4 group-hover:bg-rose-50">
            <p class="text-white group-hover:text-black">Профиль</p>
            </div>
        </div>
        <div class="group flex">
            <div class="flex items-center justify-center rounded-xl p-4 group-hover:bg-rose-50">
            <p class="text-white group-hover:text-black">Выйти</p>
            </div>
        </div>
    </div>
</div>